<div [ngClass]="{ 'active-menu': mostraMenu }">
  <div class="menu-bar">
    <i
      class="fa fa-window-close menu-item"
      (click)="abrirMenu()"
      (keyup.space)="abrirMenu()"
    ></i>
    <img
      class="img-settings"
      src="../../../assets/img/ford.png"
      alt="Logo da Ford"
    />
    <ul class="list-unstyled list-group list-group-flush">
      <li
        class="list-group-item list-group-item-action menu-item"
        (click)="paraHome()"
      >
        Home
      </li>
      <li
        class="list-group-item list-group-item-action menu-item"
        (click)="paraDashboard()"
      >
        Dashborad
      </li>
    </ul>
  </div>

  <div class="overlay" (click)="abrirMenu()"></div>
</div>
