*{
  box-sizing: border-box;
}

.full-height{
  height: 90vh;
}

.full{
  width: 100vw;
  height: 90vh;
}

.text-color{
  color: rgb(40, 97, 159);
}

.card-dimension{
  width: 35vw;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.9);
}

.left-icon{
  margin-top: 20px;
  left: 40px;
  width: 30px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.right-icon{
  margin-top: 20px;
  right: 40px;
  width: 30px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.max-height{
  max-height: 280px;
}
