<header>
  <nav class="navbar">
    <img
      src="../../../assets/img/menu-icon.png"
      class="left-icon position-relative"
      (click)="menu.abrirMenu()"
      (keyup.space)="menu.abrirMenu()"
    />

    <img
      src="../../../assets/img/user-icon.png"
      class="right-icon position-relative"
      (click)="settings.abrirSettings()"
      (keyup.space)="settings.abrirSettings()"
    />
  </nav>
</header>

<h1 class="text-center text-color">Dashboard FORD</h1>

<div class="container d-flex align-items-center justify-content-center mt-4">

  <div class="card m-4">
    <div class="card-header">Veículo</div>
    <div class="card-body">
      <h5 class="card-title text-color">Seja bem vindo(a)!</h5>
    </div>
  </div>

  <div class="card m-4">
    <div class="card-header">Total de Vendas</div>
    <div class="card-body">
      <h5 class="card-title text-color">Seja bem vindo(a)!</h5>
    </div>
  </div>

  <div class="card m-4">
    <div class="card-header">Conectados</div>
    <div class="card-body">
      <h5 class="card-title text-color">Seja bem vindo(a)!</h5>
    </div>
  </div>

  <div class="card m-4">
    <div class="card-header">Update Software</div>
    <div class="card-body">
      <h5 class="card-title text-color">Seja bem vindo(a)!</h5>
    </div>
  </div>

</div>

<app-menu #menu></app-menu>
<app-settings #settings></app-settings>
