<div class="container">
  <table class="table">
    <thead>
      <tr class="bg-color">
        <th scope="col">Código - Vin</th>
        <th scope="col">Odômetro</th>
        <th scope="col">Nível de Combustível</th>
        <th scope="col">Status</th>
        <th scope="col">Lat.</th>
        <th scope="col">Long.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr class="bg-color">
        <td colspan="6"></td>
      </tr>
    </tbody>
  </table>
</div>
