<div class="container">
  <table class="table">
    <thead>
      <tr class="bg-color">
        <th class="width">Código - Vin</th>
        <th class="width">Odômetro</th>
        <th class="width">Nível de Combustível</th>
        <th class="width">Status</th>
        <th class="width">Lat.</th>
        <th class="width">Long.</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="text" [formControl]="tabelaInput">
        </td>
        <td>
          <div *ngIf="veiculosData$ | async as veiculosData; else elseblock">
            <div *ngFor="let veiculoData of veiculosData">
              <span class="font-weight">{{veiculoData.odometer}} Km</span>
            </div>
          </div>
        </td>
        <td>
          <div *ngIf="veiculosData$ | async as veiculosData; else elseblock">
            <div *ngFor="let veiculoData of veiculosData">
              <span class="font-weight">{{veiculoData.fuelLevel}}%</span>
            </div>
          </div>
        </td>
        <td>
          <div *ngIf="veiculosData$ | async as veiculosData; else elseblock">
            <div *ngFor="let veiculoData of veiculosData">
              <span class="font-weight">{{veiculoData.status}}</span>
            </div>
          </div>
        </td>
        <td>
          <div *ngIf="veiculosData$ | async as veiculosData; else elseblock">
            <div *ngFor="let veiculoData of veiculosData">
              <span class="font-weight">{{veiculoData.lat}}</span>
            </div>
          </div>
        </td>
        <td>
          <div *ngIf="veiculosData$ | async as veiculosData; else elseblock">
            <div *ngFor="let veiculoData of veiculosData">
              <span class="font-weight">{{veiculoData.long}}</span>
            </div>
          </div>
        </td>

      </tr>
      <tr class="bg-color">
        <td colspan="6"></td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #elseblock>
    <span class="font-weight">-</span>
</ng-template>
