<div [ngClass]="{ 'active-settings': mostraSettings }">
  <div class="settings-bar">
    <i
      class="fa fa-window-close menu-item"
      (click)="abrirSettings()"
      (keyup.space)="abrirSettings()"
    ></i>
    <ul class="list-unstyled list-group list-group-flush">
      <li *ngIf="usuario$ | async as usuario">
        <h3 class="cursor-default">{{ usuario.name }}</h3>
      </li>
      <li
        class="list-group-item list-group-item-action menu-item"
        (click)="logout()"
      >
        Logout
      </li>
    </ul>
  </div>

  <div class="overlay" (click)="abrirSettings()"></div>
</div>
