<div class="d-flex justify-content-center mb-4">
  <img
    class="img-width"
    src="../../../assets/img/ford.png"
    alt="Logo da Ford"
  />
</div>

<h4 class="text-center text-color">Bem vindo!</h4>

<form class="form mt-4 width" (ngSubmit)="logar()" #loginForm="ngForm">
  <div class="form-group mb-4">
    <input
      class="form-control"
      placeholder="Insira seu usuário"
      [(ngModel)]="usuario"
      name="usuario"
      #campoUsuario="ngModel"
      required
    />
    <app-mensagem
      *ngIf="campoUsuario.invalid && campoUsuario.touched"
      mensagem="Usuário inválido"
    ></app-mensagem>
  </div>

  <div class="form-group mb-4">
    <input
      class="form-control"
      placeholder="Insira sua senha"
      type="password"
      [(ngModel)]="senha"
      name="senha"
      #campoSenha="ngModel"
      required
    />
    <app-mensagem
      *ngIf="campoSenha.invalid && campoSenha.touched"
      mensagem="Senha inválida"
    ></app-mensagem>
  </div>

  <button type="submit" class="btn btn-secondary width" [disabled]="loginForm.invalid">Entrar</button>
</form>
